<div class="container">
 <div class="row">
  <div class="col-md-3">
   
   <h2>User info</h2>
   
   <table class="tabe">
       <tbody>
           <th>name</th>
           <p>name<%= @user.name %></p>
           <th>introduction</th>
           <p>introduction<%= @user.introduction %></p>
           <div class="row">
               <a class="btn btn-outline-secondary btn-sm btn-block " href="edit_user_path(@user.id)"><i class="fa-solid fa-user-gear"></i></a>
        　　</div>
   # ここにuser profile-imageを表示させる
    　　</tbody>
   </table>
  
  <div class="row">
   # ここにuser editのボタンをつける
  </div>