<div class="container">
 <div class="row">
  <div class="col-md-3">
   
   <h2>User info</h2>
   
   <table class="tabe">
       <tbody>
           <th>name<%= user.name %></th>
           <th>introduction<%= user.introduction %></th>
            <div class="row">
               <a class="btn btn-outline-secondary btn-sm btn-block " href="edit_user_path(user.id)"><i class="fa-solid fa-user-gear"></i></a>
        　 　</div>
    　　</tbody>
   </table>
  
  <div class="row">
   # ここにuser editのボタンをつける
  </div>