  <h2 class="mt-3">New book</h2>

  <%= form_with model: book do |f| %>
 
   <h7>Title</h7><br>
   <%= f.text_field :title %><br>
  
   <h7>Opinion</h7><br>
   <%= f.text_area :body %><br>
  
   <%= f.submit 'Create Book', class: 'btn btn-success' %>
  
   <% end %>